.title {
    width:100%;
    height:auto;
    font-family: "Times New Roman", Times, serif;
    color: green;
    font-size:28px;
}
body {
    background-image:url(../imagens/fundo.png);
    margin-left: 10%;
    margin-right: 10%;
  }
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
img {
    border:4px solid green;
}
.tamanho {
    max-width:300px;
    width: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}
td, th {
    border: 2px solid gray;
    text-align: center;
}
