@import "fonts/ravie.css";

/* body {
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(#f6f1b2, #4599b2);
} */

#cabecalho > h1 {
    color: #e90c0c;
    font-family: "Ravie";
    font-size: 36px;
    font-weight: 100;
    
    margin: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-top: 30px;
}

#cabecalho > h2 {
    font-family: "Trebuchet MS";
    font-size: 24px;
    font-weight: 100;
    text-align: right;
    
    margin: 0;
    padding-bottom: 3px;
    padding-right: 80px;
}
#cabecalho {
    margin-left: 155px;
}

#cabecalho span {
    color:#d027aa;
}

table {
    text-align: left;
    padding: 0 0;
    width: 100%;
}

td {
    line-height: 2em;
    min-width: 50px;
    padding: 0 0;
}

td:nth-child(even) {
    text-align: right;
}

#cardapio {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px #aac0ae;
    box-sizing: border-box;
    font-size: 14px;
    padding: 17px;
    
    margin-left: 155px;
    width: 646px;
}

#cardapio > h3 {
    font-size: 18px;
    font-weight: bold;
}

#lateral > h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 412px; 
    left: -41px;
}

#destaque {
    color: #d027aa;
}

#recipiente {
    background: linear-gradient(#f6f1b2, #4599b2);
    border: 1px solid #d3d3d3;
    color: #333;
    font-family: "Verdana";
    position: relative;
    height: auto;
    margin: 0 auto;
    width: 800px;
}

#rodape {
    margin-left: 155px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-top: 46px;
    text-align: right;
}

#ticket {
    transition: left 100ms ease-out;
    position: fixed;
    left: -69px;
    top: 295px;
}

#ticket:hover {
    left: 0px;
}

img[src*="siri"] {
    position: absolute;
    left: -10px;
    top: 7px;
}

img[src*="bolhas"] {
    text-align: right;
    padding-bottom: 125px;
    position: absolute;
    bottom: 0px;
    right: 680px;
}

img[src*="peixe"] {
    position: absolute;
    bottom: 0;
    left: -44px;
}