<!DOCTYPE html>

<head>
    <title>Plantas Carnivoras</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>

<body>
    <h1>Loja de Sementes</h1>

    <dir>
        <table>
            <th colspan="4">Sementes</th>
            <tr>
                <th>Especie</th>
                <th>Dificuldade
                    <br>de Germinação</th>
                <th>Sementes
                    <br>por Pacote</th>
                <th>Preço
                    <br>(mangos) </th>
            </tr>
            <tr>
                <td>
                    <em>Drosera dielsiana</em>
                </td>
                <td>Facil</td>
                <td>30</td>
                <td>R$ 2,00</td>
            </tr>
            <tr>
                <td>
                    <em>Sarracenia hibrido</em>
                </td>
                <td>Média
                    <br>semear no inverno</td>
                <td>10</td>
                <td>R$ 3,00</td>
            </tr>
            <tr>
                <td>
                    <em>Drosera nidiformis</em>
                </td>
                <td>Media</td>
                <td>15</td>
                <td>R$ 2,00</td>
            </tr>
        </table>
    </dir>

    <div>
        <p>Caso queira fazer um pedido, envie um email para
            <a href="mailto:custodio@plantascarnivoras.com.br">custodio@plantascarnivoras.com.br</a>.</p>
        <p>
            <a href="../plantas.html">Voltar para a página de plantas</a>
        </p>
    </div>
</body>

</html>